pandas
numpy==1.24.3
pytest
langchain_community
python-dotenv
pypdf
faiss-cpu
joblib
google-generativeai>=0.8.0
fastapi
uvicorn
python-multipart
Pillow
onnxruntime
opencv-python-headless
tensorflow-cpu==2.13.0
torch==2.1.2
transformers==4.41.2
sentence-transformers==2.7.0
typing_extensions==4.5.0
